.profileTop-main{
    width: 100%;
    background-color: aqua;
    height: 22rem;
}
.profileTop-cover{
    width: 100%;
    background-color: blue;
    height: 60%;
}
.profileTop-sub{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    height: 40%;
    margin-left: 5rem;
}
.profileTop-name{
    margin-left: 6rem;
}